/* red, wine, peach, light brown, grey, black */

/* ################################## */
/* Global values */
/* ################################# */

/* font-family: 'Changa', sans-serif; */
/* font-family: 'Kreon', serif; */
/* font-family: 'Lemonada', cursive; */
/* font-family: 'Rosario', sans-serif; */
/* font-family: 'Sora', sans-serif; */

/* title font family */

/* font-family: 'Mansalva', cursive; */
/* font-family: 'Merienda One', cursive; */
/* font-family: 'Pacifico', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;600;800&family=Kreon:wght@400;600;700&family=Lemonada:wght@400;600;700&family=Rosario:wght@400;500;700&family=Sora:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Merienda+One&family=Pacifico&display=swap');

:root{
    /* dark shade of primary color */
    --clr-primary-1: hsl(44,84%, 39%);
    --clr-primary-2: hsl(44,75%, 48%);

    /* primary main color */
    --clr-primary:  hsl(46, 70%, 40%);

    /* lighter shade of primary color */

    /* darkey brown - used for headings */
    --clr-darkbrown-1: hsl(46, 67%, 34%);
    --clr-darkbrown-2: hsl(46, 67%, 40%);
    --clr-darkbrown-3: hsl(46, 67%, 46%);
    
    /* light brown of primary color*/ 
    --clr-lightbrown-1: hsl(41, 58%, 70%);
    --clr-lightbrown-2: hsl(47, 63%, 68%);


    /* shade of wine */
    --clr-wine-dark: hsl(15, 97%, 43%);
    --clr-wine-light: hsl(15, 88%, 55%);


    /* lighter brown used for paragraphs */

    /* primary family font */
    --ff-primary-h1: 'Sora', sans-serif;
    --ff-primary-h2: 'Kreon', serif;
    --ff-primary-p: 'Lemonada', cursive;

    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    
    /* secondary font family */
    --ff-secondary-1: 'Changa', sans-serif;
    --ff-secondary-2: 'Rosario', sans-serif;

    --ff-title-1: 'Pacifico', cursive;
    --ff-title-2: 'Merienda One', cursive;
    --ff-title-3: 'Mansalva', cursive;

    --transition: all 0.3s linear;

    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    --neu-light-shadow: -6px -6px 20px rgba(255,226,150,1);
    --neu-dark-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);


    --spacing: 0.25rem;
    --radius: 0.5rem;
}

/* ############################################################## */
/* Global Variables */
/* ############################################################# */

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1 {
    font-family: var(--ff-primary-h1);
    color: var(--clr-primary);
}
.underline {
    height: 0.25rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--clr-darkbrown-2)
}
.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    /* min-height: calc(100vh - 124px); */
}
section{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
}
.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--clr-primary-1);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    color: white;
    animation: appear 4s linear 2s;
    visibility: hidden;
    z-index: -100;
}
@keyframes appear {
    0% {
        transform: scale(1);
    }
    25%{
        transform: scale(1.25);
    }
    50%{
        transform: scale(1.5);
    }
    75%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}
p {
    color: black;
}

.show-links {
    visibility: visible;
    z-index: 1000;  
}


/* ################################# */
/* All Media Queries */
/* ################################ */


/* ############################################################ */
/* ############################################################ */
/* ############################################################### */
/* Extra small screens */
/* #################################################################### */
@media (max-width: 575.98px) {
body{
    /* background-color: red; */
    /* background-image: url(images/parfait1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; */
    background: url(images/parfait1.jpg) center/cover no-repeat;
}

nav {
    background: transparent;
    padding: 0rem 1.5rem;
}

.fixed-nav { /* fixed nav bar to show  */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: honeydew;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    z-index: 100;
}

.fixed-nav .links a { /* links inside the fixed nav*/
    color: var(--clr-darkbrown-1);
}

.fixed-nav .links a:hover /* hover effect of links in fixed nav*/{
    color: var(--clr-lightbrown-1);
}

.nav-header  /* logo and button*/{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 1em auto;
 }
 .nav-toggle /* hamburger button*/{
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover/* hamburger button hover effect */ {
    color: var(--clr-grey-3);
}

.logo /* logo in general*/ {
    border-radius: 50%;
    width: 3rem;
}

.links-container /* div containing all links*/{
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.links a /* how links will appear (nothing will show in mobile phone) */ {
    background: transparent;
    color: var(--clr-darkbrown-1);
    /* color: #F4A460; */
    text-transform: capitalize;
    display: block;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: var(--spacing);
    padding: 0.75rem 0;
    transition: var(--transition);
}

.links a:hover{
    color: var(--clr-darkbrown-3);
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* ****************************body1********************************** */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.distortion {
    width: 250px;
    height: 400px;
    box-shadow: var(--dark-shadow);
}
/* ####################### 3D flip Animation ############################################# */

.container-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
    margin: 1rem 0 ;
}

/* .hover-image{
    width: 3rem;
}  */
.hover-effect{
    /* width: 1200px; */
    /* margin: 1.5rem auto; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.hover-effect .card {
    position: relative;
    margin: 1rem;
    width: 300px;
    height: 200px;
}

.hover-effect .card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.hover-effect .card .face.face1 {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}
.hover-effect .card .face.face1 img {
 max-width: 50px;
 
}

.hover-effect .card .face.face1 h3 {
    margin: 5px 0 0 ;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.hover-effect .card:hover .face.face1 {
    transform: translateY(-100%) rotateX(90deg);
    background: #ff0057;
}

.hover-effect .card .face.face2 {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.hover-effect .card:hover .face.face2 {
    transform: translateY(0%) rotateX(0deg);
}

/* ######################### Big to small hover animation **************************** */


.bigbody {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.bigcontainer {
    position: relative;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.bigcontainer .card {
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 90%;
    margin: 30px 0;
    box-shadow: var(--dark-shadow);
}

.bigcontainer .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.bigcontainer .card:hover .imgBx {
    width: 100px;
    height: 100px;
    left: -50px;
    /* background: transparent; */
    top: calc(50% - 50px);
    transition: 0.5s ease-in-out;
    background: #ff0057;
}

.bigcontainer .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.05);
    font-weight: 700;
}

.bigcontainer .card .imgBx img {
    max-width: 60px;
    transition: 0.5s ease-in-out;
}

.bigcontainer .card:hover .imgBx img {
    max-width: 40px;
}

.bigcontainer .card .content-big {
    position: absolute;
    right: 0;
    width: calc(100% - 80px);
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bigcontainer .card .content-big h3{
    margin-bottom: 5px;
    font-size: 1rem;
}

.bigcontainer .card .content-big a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}
.bigcontainer .card .content-big a:hover {
    color: aqua;
    background: grey;
    transition: 0.5s ease-in-out;
} 

}




/* ############################################################ */
/* ############################################################ */
/* ################################################################ */
/* Small Devices (e.g Landscape phones) */
/* ################################################################ */
@media (min-width: 576px) and (max-width:767.98px) {
body{
    /* background-color: red; */
    /* background-image: url(images/parfait1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; */
    background: url(images/parfait1.jpg) center/cover no-repeat;
}

nav {
    background: transparent;
    padding: 0rem 1.5rem;
}

.fixed-nav { /* fixed nav bar to show  */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: honeydew;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
}

.fixed-nav .links a { /* links inside the fixed nav*/
    color: var(--clr-darkbrown-1);
}

.fixed-nav .links a:hover /* hover effect of links in fixed nav*/{
    color: var(--clr-lightbrown-1);
}

.nav-header  /* logo and button*/{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 1em auto;
 }
 .nav-toggle /* hamburger button*/{
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover/* hamburger button hover effect */ {
    color: var(--clr-grey-3);
}

.logo /* logo in general*/ {
    border-radius: 50%;
    width: 3rem;
}

.links-container /* div containing all links*/{
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.links a /* how links will appear (nothing will show in mobile phone) */ {
    background: transparent;
    color: var(--clr-darkbrown-1);
    /* color: #F4A460; */
    text-transform: capitalize;
    display: block;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: var(--spacing);
    padding: 0.75rem 0;
    transition: var(--transition);
}

.links a:hover{
    color: var(--clr-darkbrown-3);
}

}


/* ############################################################ */
/* ############################################################ */
/* ########################################################### */
/* Medium Devices (e.g Tablet) */
/* ########################################################### */
@media (min-width: 768px) and (max-width:991.98px) {
    body{
        background-color: blue;
    }
    /* *************************Nav Bar ***************************** */
    
    nav /* complete container for the nav*/ {
        background: transparent;
    }
    .nav-center /* div holding image, hamburger and links*/ {
        width: 95%;
        margin: 0.5rem auto;
        /* max-width: 850px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-header /* div holding image and hamburger*/{
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .fixed-nav /* fixed nav to appear once you scroll to a point*/ {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: honeydew;
        box-shadow: var(--light-shadow);
    }
    
    .fixed-nav .nav-center {
        width: 90%;
        margin: 0.5rem auto;
    }
    .fixed-nav .links a  /* color of all links inside the fixed nav*/{
        color: var(--clr-darkbrown-1);
    }
    
    .fixed-nav .links a:hover /* hover color change */{
        color: var(--clr-lightbrown-1);
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
        /* transition: var(--transition); */
    }
    .links-container {
        height: auto !important;
        /* this overights the else statement in the app.js after the if statement that checks if the containerheight is zero*/
 
    }

    .links /* ul holding all the links */{
        display: flex;
    }

    .links a /* each links inside the ul*/{
        background: transparent;
        color: var(--clr-darkbrown-1);
        font-size: 1.3rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        margin: 0 0.7rem;
        padding: 0;
    }

    .links a:hover {
        color: var(--clr-darkbrown-3);
        transition: var(--transition);
    }
    .logo {
        border-radius: 50%;
        width: 5rem;
    }
    /* ****************************Body 1************************* */
    .content {
        width: 90%;
        max-width: 700px;
        margin: 0 auto;
    }
}

/* ############################################################ */
/* ############################################################ */
/* ############################################################ */
/* Large Devices (e.g Desktop) */
/* ########################################################### */
@media (min-width: 992px) and (max-width:1199.98px) {
    body {
        /* background-color: yellow; */
        background-color: #FFF8DC;
    }
    h1 {
        font-size: 1.8rem;
    }
    nav /* complete container for the nav*/ {
        background: transparent;
    }
    
    main {
        background-color: #FFF8DC
    }
    
    /* Normal Nav with transparent background */
    .nav-center /* div holding image, hamburger and links*/ {
        width: 95%;
        margin: 0.5rem auto;
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px red solid; */
    }
    .nav-header /* div holding image and hamburger*/{
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    
    /* Fixed Nav */
    .fixed-nav /* fixed nav to appear once you scroll to a point*/ {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: honeydew;
        box-shadow: var(--light-shadow);
        transition: var(--transition);
        z-index: 100;
    }
    
    .fixed-nav .nav-center {
        width: 90%;
        margin: 0.5rem auto;
    }
    .fixed-nav .links a  /* color of all links inside the fixed nav*/{
        /* color: var(--clr-darkbrown-1); */
        color: #D2691E;
    }
    
    .fixed-nav .links a:hover /* hover color change */{
        color: var(--clr-lightbrown-2);
        /* transition-timing-function: ease-in-out;
        transition-duration: 1s;
        transform: scale(1.5); */
        transition: var(--transition);
    }
    .links-container {
        height: auto !important;
        /* this overights the else statement in the app.js after the if statement that checks if the containerheight is zero*/
    
    }
    
    .links /* ul holding all the links */{
        display: flex;
        
    }
    
    .links a /* each links inside the ul*/{
        background: transparent;
        color: var(--clr-darkbrown-1);
        font-size: 1.3rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        margin: 0 0.7rem;
        padding: 0;
        
    }
    
    .links a:hover {
        color: var(--clr-darkbrown-3);
    }
    .logo {
        border-radius: 50%;
        width: 7rem;
    }
    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
    /* ****************************Body 1************************* */
    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
    /* murf image */
    .content {
        display: flex;
        justify-content: space-between;
        width: 95%;
        max-width: 1000px;
        margin: 0 auto;
        align-items: center;
        padding-bottom: 1rem;
        /* border: solid 2px red; */
    }
    
    
    .distortion {
        width: 390px;
        height: 300px;
        box-shadow: var(--dark-shadow);
        /* border: 3px blue solid; */
        object-fit: cover;
        /* margin-top: 1rem;
        padding-top: 1rem; */
    }
    
    .text{
        font-size: 3rem;
        font-weight: 800;
        font-family: var(--ff-title-1);
        color: var(--clr-primary);
        /* border: 2px red solid; */
    }
    
    .mantra {
        font-size: 1.5rem;
        color: var(--clr-darkbrown-1);
    }
    
    .overide{
        background-color: blue;
    }
    
    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
    /* ####################### Big to small hover animation ############################################# */
    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
    
    
    .bigbody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFE296;
    }
    
    .bigbody h1{
        margin-top: 1.5rem;
    }
    
    .bigbody .underline {
        width: 10rem;
        margin-top: 0.3rem;
    }
    .bigcontainer {
        position: relative;
        max-width: 1000px;
        width: 85%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px;
        /* border: 2px red solid; */
    }
    
    .bigcontainer .card {
        position: relative;
        height: 250px;
        background: #fff;
        border-radius: 40px;
        box-shadow: -6px -6px 20px rgba(255,226,150,1),
                    6px 6px 20px rgba(0, 0, 0, 0.2);
       
        display: flex;
        width: 45%;
        margin: 30px 0;
    }
    
    .bigcontainer .card .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFE296;
        border-radius: 40px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }
    
    .bigcontainer .card:hover .imgBx {
        width: 120px;
        height: 120px;
        left: -60px;
        /* background: transparent; */
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
        background: #F0B500 
    }
    
    .bigcontainer .card .imgBx:before {
        content: attr(data-text);
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 5rem;
        color: rgba(255, 200, 50, 0.2);
        font-weight: 700;
        z-index: -5;
    }
    .bigcontainer .card .imgBx img {
        max-width: 100px;
        transition: 0.5s ease-in-out;
    }
    .bigcontainer .card:hover .imgBx img {
        max-width: 70px;
    }
    
    .bigcontainer .card .content-big {
        position: absolute;
        /* right: 10%; */
        width: calc(100% - 80px);
        height: 100%;
        padding: 0 25%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
    
    }
    
    .bigcontainer .card .content-big h3{
        margin-bottom: 5px;
        font-size: 1.2rem;
    }
    
    .bigcontainer .card .content-big ul {
        font-family: var(--ff-primary-p);
        font-size: 0.56em;
        text-transform: capitalize;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
    }
    
    .bigcontainer .card .content-big a {
        display: inline-block;
        margin-top: 10px;
        padding: 5px 10px;
        background: #333;
        text-decoration: none;
        color: #fff;
    }
    
    .bigcontainer .card .content-big a:hover {
        color: aqua;
        background: grey;
        transition: 0.5s ease-in-out;
    } 
    
    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
    /* Reviews ANimation */
    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
    
    .review-container .card img {
        max-width: 300px;
    }
    
    .details #job {
        font-size: 0.7rem;
        margin: 0.5rem 0;
        font-weight: 700;
    }

    .details #info {
        font-size: 0.7rem;
    }
    
    .details h2 {
        font-size: 1rem;
    }
    
    .details h2 , .details p{
        text-transform: capitalize;
    }
    
    .about-underline{
        margin-top: 0.2rem;
        width: 10rem;
    }
    
    .bodyreview {
        /* background: #f2f2f2; */
        background: transparent;
    }
    
    .review-container{
        max-width: 1000px;
        margin: 1.5rem auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .review-container .card {
        position: relative;
        margin: 1rem 0;
        margin-bottom: 0rem;
        width: 200px;
        height: 300px;
        background: #fff;
        transform-style: preserve-3d;
        transform: perspective(2000px);
        transition: 1s;
        box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
    }
    
    .review-container .card:hover {
        z-index: 10;
        transform: perspective(2000px) rotate(-10deg);
        box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
    }
    
    .review-container .card .imgBx {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        box-sizing: border-box;
        transform-origin: left;
        z-index: 2;
        transition: 1s;
    }
    
    .review-container .card:hover .imgBx {
        
        transform: rotateY(-135deg);
        transition: 1s ease-in-out;
    }
    
    .review-container .card .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .review-container .card .details {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 20px;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prev-btn, .next-btn {
        color: var(--clr-primary);
        font-size: 2rem;
        background: transparent;
        border-color: transparent;
        margin: 0 1rem;
        margin-bottom: 0.5rem;
        transition: var(--transition);
        cursor: pointer;
    }
    
    .prev-btn:hover, .next-btn:hover {
        opacity: 0.8;
    }
    
    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
    /* AOS Animate on sroll */
    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
    .aosbody{
        font-size: 1rem;
        /* background: #f9f9f9; */
        /* ../ - this goes one step out of a folder, so if you want to go three steps you will type ../../../ */
        background-image: url('../../images/parfait-large1.jpg');
        background-size: cover;
        background-attachment: fixed;
        /* background-color: gainsboro;
        background-blend-mode: soft-light; */
        
    }
    .aos h1 {
        margin-top: 0.5rem;
    }
    a {
        color: #333;
        text-decoration: none;
    }
    
    .aos {
        max-width: 1000px;
        margin: auto;
        overflow: auto;
        padding: 0 2rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
     .aos .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
     .aos .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        background: #f1f1f1;
        margin: 2rem 0;
        height: 50%;
    
    }
    
    .aos .card h3 {
        margin-bottom: 2rem;
    }
    
    /* .aos .card img {
        height: auto;
        width: 100%;
    } */
    
    .aos .card > div {
        padding: 2rem;
    }
    
    .card:nth-child(even) img {
        order: 2;
    }
    
    .btn {
        display: inline-block;
        background: #000;
        color: #fff;
        padding: 0.8rem 1.8rem;
        margin-top: 2rem;
        cursor: pointer;
    }
    
    .btn:hover {
        opacity: 0.5;
        transition: 0.5s linear;
    }
    
    /* ############################################################################### */
    /* Fotter */
    /* ############################################################################### */
    .main-footer .icons a {
        color: #d3d3d3;
    }
    
    .div-footer {
        background: #303036;
        /* border: 2px blue solid; */
    }
    .main-footer {
        margin: 0 auto;
        width: 100%;
        /* max-width: 100%; */
        color: #d3d3d3;
        display: flex;
        
        justify-content: space-between;
        /* border: 2px red solid; */
    }
    
    .main-footer .footer-container {
        width: 100%;
        margin: 0 auto;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        /* align-content: center; */
        gap: 1rem;
        /* border: 2px solid green; */
    }
    
    .main-footer .copy {
        width: 100%;
        margin: 0 auto;
        font-size: 1rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid orange; */
    }
    
    .main-footer .icons{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        font-size: 0.8rem;
        /* border: 2px solid yellow; */
    }
    
    .footer-container .box {
        text-align: center;
    }
    
    .footer-container .box .icon .fas {
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .footer-container .box .icon h3, 
    .footer-container .box .icon h4 {
        position: relative;
        font-weight: 200;
        margin: 0;
        padding: 0.5rem 0.4rem 0 0.4rem;
        font-size: 1rem;
        overflow: hidden;
        transition-delay: 0.3333s;
        color: transparent;
    }
    
    .footer-container .box .fas:hover ~ h3,
    .footer-container .box .fas:hover ~ h4 {
        color: #d3d3d3;
    }
    
    .footer-container .box .icon h4 {
        font-weight: 700;
        margin: 5px 0;
        font-style: 30px;
    }
    
    .footer-container .box .icon h3:before, 
    .footer-container .box .icon h4:before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 95%;
        height: 100%;
        background-color: var(--clr-primary-1);
        transition: 1.2s;
    }
    
    .footer-container .box .icon h4:before {
        left: initial;
        right: 100%;
        background-color: saddlebrown;
    }
    
    .footer-container .box .fas:hover ~ h3:before
     {
        left: -100%;
    }
    
    .footer-container .box .fas:hover ~ h4:before {
        left: initial;
        right: -100%;
    }
    
    .footer-container .box .fas:hover ~ h3,
    .footer-container .box .fas:hover ~ h4 {
        color: #d3d3d3;
    }
    
    .main-footer .copy p {
        color: #d3d3d3;
    }
    

}

/* ######################################################################### */
/* ################################################################ */
/* ########################################################### */
/* Extra Large Devices */
/* ########################################################## */
@media (min-width: 1200px) {
   
   nav /* complete container for the nav*/ {
    background: transparent;
}

main {
    background-color: #FFF8DC;
    /* max-width: 1250px; */
}

/* Normal Nav with transparent background */
.nav-center /* div holding image, hamburger and links*/ {
    width: 95%;
    margin: 0.5rem auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px red solid; */
}
.nav-header /* div holding image and hamburger*/{
    padding: 0;
}
.nav-toggle {
    display: none;
}

/* Fixed Nav */
.fixed-nav /* fixed nav to appear once you scroll to a point*/ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: honeydew;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    z-index: 100;
}

.fixed-nav .nav-center {
    width: 90%;
    margin: 0.5rem auto;
}
.fixed-nav .links a  /* color of all links inside the fixed nav*/{
    /* color: var(--clr-darkbrown-1); */
    color: #D2691E;
}

.fixed-nav .links a:hover /* hover color change */{
    color: var(--clr-lightbrown-2);
    /* transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transform: scale(1.5); */
    transition: var(--transition);
}
.links-container {
    height: auto !important;
    /* this overights the else statement in the app.js after the if statement that checks if the containerheight is zero*/

}

.links /* ul holding all the links */{
    display: flex;
}

.links a /* each links inside the ul*/{
    background: transparent;
    color: var(--clr-darkbrown-1);
    font-size: 1.8rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin: 0 0.7rem;
    padding: 0;
}

.links a:hover {
    color: var(--clr-darkbrown-3);
}
.logo {
    border-radius: 50%;
    width: 7rem;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* ****************************Body 1************************* */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* murf image */
.content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 1rem;
}


.distortion {
    width: 400px;
    height: 300px;
    box-shadow: var(--dark-shadow);
}

.text{
    font-size: 4rem;
    font-weight: 800;
    font-family: var(--ff-title-1);
    color: var(--clr-primary);
}

.mantra {
    font-size: 2rem;
    color: var(--clr-darkbrown-1);
}

.overide{
    background-color: blue;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* ####################### Big to small hover animation ############################################# */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.bigbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFE296;
}

.bigbody h1{
    margin-top: 1.5rem;
}

.bigbody .underline {
    width: 10rem;
    margin-top: 0.3rem;
}
.bigcontainer {
    position: relative;
    max-width: 1400px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.bigcontainer .card {
    position: relative;
    height: 250px;
    background: #fff;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgba(255,226,150,1),
                6px 6px 20px rgba(0, 0, 0, 0.2);
   
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.bigcontainer .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFE296;
    border-radius: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.bigcontainer .card:hover .imgBx {
    width: 150px;
    height: 150px;
    left: -75px;
    /* background: transparent; */
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #F0B500 
}

.bigcontainer .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 7rem;
    color: rgba(255, 200, 50, 0.2);
    font-weight: 700;
    z-index: -5;
}
.bigcontainer .card .imgBx img {
    max-width: 150px;
    transition: 0.5s ease-in-out;
}
.bigcontainer .card:hover .imgBx img {
    max-width: 100px;
}

.bigcontainer .card .content-big {
    position: absolute;
    /* right: 10%; */
    width: calc(100% - 80px);
    height: 100%;
    padding: 0 25%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.bigcontainer .card .content-big h3{
    margin-bottom: 5px;
    font-size: 2rem;
}

.bigcontainer .card .content-big ul {
    font-family: var(--ff-primary-p);
    font-size: 0.7rem;
    text-transform: capitalize;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.bigcontainer .card .content-big a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

.bigcontainer .card .content-big a:hover {
    color: aqua;
    background: grey;
    transition: 0.5s ease-in-out;
} 

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* Reviews ANimation */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.review-container .card img {
    max-width: 300px;
}

.details #job {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    font-weight: 700;
}

.details h2 {
    font-size: 1.5rem;
}

.details h2 , .details p{
    text-transform: capitalize;
}

.about-underline{
    margin-top: 0.2rem;
    width: 10rem;
}

.bodyreview {
    /* background: #f2f2f2; */
    background: transparent;
}

.review-container{
    max-width: 1100px;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.review-container .card {
    position: relative;
    margin: 2rem 0;
    margin-bottom: 1rem;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
}

.review-container .card:hover {
    z-index: 10;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.review-container .card .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 2;
    transition: 1s;
}

.review-container .card:hover .imgBx {
    
    transform: rotateY(-135deg);
    transition: 1s ease-in-out;
}

.review-container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-container .card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-btn, .next-btn {
    color: var(--clr-primary);
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    margin: 0 1rem;
    margin-bottom: 1rem;
    transition: var(--transition);
    cursor: pointer;
}

.prev-btn:hover, .next-btn:hover {
    opacity: 0.8;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* AOS Animate on sroll */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.aosbody{
    font-size: 1.3rem;
    /* background: #f9f9f9; */
    /* ../ - this goes one step out of a folder, so if you want to go three steps you will type ../../../ */
    background-image: url('../../images/parfait-large1.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* background-color: gainsboro;
    background-blend-mode: soft-light; */
    
}
.aos h1 {
    margin-top: 0.5rem;
}
a {
    color: #333;
    text-decoration: none;
}

.aos {
    max-width: 1500px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

 .aos .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .aos .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background: #f1f1f1;
    margin: 2rem 0;
    height: 50%;

}

.aos .card h3 {
    margin-bottom: 2rem;
}

/* .aos .card img {
    height: auto;
    width: 100%;
} */

.aos .card > div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.5;
    transition: 0.5s linear;
}

/* ############################################################################### */
/* Fotter */
/* ############################################################################### */
.main-footer .icons a {
    color: #d3d3d3;
}

.div-footer {
    background: #303036;
    /* border: 2px blue solid; */
}
.main-footer {
    margin: 0 auto;
    width: 100%;
    /* max-width: 100%; */
    color: #d3d3d3;
    display: flex;
    
    justify-content: space-between;
    /* border: 2px red solid; */
}

.main-footer .footer-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    gap: 1rem;
    /* border: 2px solid green; */
}

.main-footer .copy {
    width: 100%;
    margin: 0 auto;
    font-size: 1.1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orange; */
}

.main-footer .icons{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* border: 2px solid yellow; */
}

.footer-container .box {
    text-align: center;
}

.footer-container .box .icon .fas {
    font-size: 2rem;
    cursor: pointer;
}

.footer-container .box .icon h3, 
.footer-container .box .icon h4 {
    position: relative;
    font-weight: 200;
    margin: 0;
    padding: 0.5rem 0.4rem 0 0.4rem;
    font-size: 1.3rem;
    overflow: hidden;
    transition-delay: 0.3333s;
    color: transparent;
}

.footer-container .box .fas:hover ~ h3,
.footer-container .box .fas:hover ~ h4 {
    color: #d3d3d3;
}

.footer-container .box .icon h4 {
    font-weight: 700;
    margin: 5px 0;
    font-style: 30px;
}

.footer-container .box .icon h3:before, 
.footer-container .box .icon h4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 95%;
    height: 100%;
    background-color: var(--clr-primary-1);
    transition: 1.2s;
}

.footer-container .box .icon h4:before {
    left: initial;
    right: 100%;
    background-color: saddlebrown;
}

.footer-container .box .fas:hover ~ h3:before
 {
    left: -100%;
}

.footer-container .box .fas:hover ~ h4:before {
    left: initial;
    right: -100%;
}

.footer-container .box .fas:hover ~ h3,
.footer-container .box .fas:hover ~ h4 {
    color: #d3d3d3;
}

.main-footer .copy p {
    color: #d3d3d3;
}

}

